body,
html body {
  font-family: 'Noto Sans', sans-serif;
  background: #fcf7ff;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

img {
  width: 200px;
}

.product-pic {
  max-width: 500px;
  max-height: 500px;
}

/* Riley took button styling from JPFP - but we can always change it! */

button {
  padding: 10px;
  border: none;
  background-color: #7b5b83;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

/* allProductsCSS */

.allProductsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.productsBody {
  display: flex;
  justify-content: space-around;
}

.productBox {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 15px;
  width: 300px;
  background-color: #ece1f2;
  border-radius: 10px;
}

/* .productName {
  height: 40px;
} */

/* cart CSS */

.cartContainer {
  width: 100%;
  /* background-color: green; */
}

.productContainer {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-right: 15px;
  border: black solid 2px;
  width: 400px;
}

.productDetails {
  display: flex;
  justify-content: space-between;
}

.productDetailsChild {
  padding-left: 30px;
  border-left: black solid 2px;
}

.singleProductContainer {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

.singleProductBox {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-right: 15px;
  border: black solid 2px;
}

.updateProductBox {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-right: 15px;
  border: black solid 2px;
}

.homePage {
  display: flex;
  flex-direction: column;
}

.homePageContent {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.homePage {
  padding: 20px;
}

.homePageContent h3 {
  font-style: italic;
}

#homePageImg {
  min-width: 400px;
}

.cart-nav-item {
  margin-left: auto;
}

.navbar {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.productForm {
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}

.authForm {
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}
