body,
html body {
  font-family: 'Noto Sans', sans-serif;
  background: #fcf7ff;
}

a {
  text-decoration: none;
}

.link {
  color: #7b5b83;
}

.link:hover {
  color: darkgray;
}

label {
  display: block;
}

img {
  width: 200px;
}

.product-pic {
  max-width: 500px;
  max-height: 500px;
}

/* Riley took button styling from JPFP - but we can always change it! */

button {
  border: none;
  background-color: #7b5b83;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

/* TO OVER-RIDE BOOTSTRAP COLOR */
#cartButton {
  background-color: #7b5b83;
}

.cart {
  margin: 20px;
}
.cartRow {
  margin: 20px;
}

.cartContainer {
  margin: 20px;
}

.emptyCart {
  margin: 20px;
  text-align: center;
}

.buttonBox {
  display: flex;
  justify-content: center;
}

/* allProductsCSS */

.allProductsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.productsBody {
  display: flex;
  justify-content: space-around;
}

.productFilter {
  width: 90%;
  margin-left: 80px;
  margin-top: 20px;
}
.cartContainer {
  width: 100%;
}

.productImage {
  width: 18em;
  height: 18em;
  background-size: cover;
}

.cartProductImage {
  width: 15em;
  height: 15em;
  background-size: cover;
}

#quantityRow {
  display: flex;
}

.productDetails {
  display: flex;
  justify-content: space-between;
}

.card {
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0.15em 0.75em rgba(0, 0, 0, 0.4);
}

.productDetailsChild {
  padding-left: 30px;
  border-left: black solid 2px;
}

.singleProductContainer {
  padding: 20px;
  margin: 15px;
}

.singleProductBox {
  padding: 30px;
  margin: 10px;
  background-color: #ece1f2;
  border-radius: 10px;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease-in-out;
}

.updateProductBox {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

/* HOME PAGE STYLING */

.homePage {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.homePageContent {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.homePageContent h3 {
  font-style: italic;
}

#homePageImg {
  min-width: 400px;
}

/* NAV BAR STYLING */

.cart-nav-item {
  margin-left: auto;
}

.navbar {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.productForm {
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}

.authForm {
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}

.dropDownRow {
  display: flex;
  justify-content: space-between;
}

.tableHeader {
  font-weight: bold;
}

.spinner {
  margin-top: 100px;
  text-align: center;
}


.quantitySelect {
  width: 50px;
}

#orderHistory {
  width: 50%;
}


.orderSummary {
  margin: 20px;
}

.allUsersContainer {
  margin: 20px;
}

.thankYou {
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.thankYouContent {
  display: flex;
  justify-content: center;
  align-content: center;
}

#forkImage {
  margin: 50px;
}
